<li>
    <input type="checkbox" @bind="@TodoItem.IsDone" />
    <input class=@GetDoneClass() @bind="@TodoItem.Title" />
</li>

@code {
    [Parameter]
    public TodoItem TodoItem { get; set; } = new TodoItem() { Title = "Unknown!", IsDone = false };

    private string GetDoneClass()
    {
        var todoClass = "";

        if (TodoItem.IsDone)
        {
            todoClass = "done";
        }

        return todoClass;
    }
}
