@page "/todos"

<PageTitle>Todos</PageTitle>

<h1>My Todos</h1>

<input placeholder="What would you like to add?" @bind="inputTodo">
<button @onclick="AddTodo">Add</button>

<h3>How do they look?</h3>
<ul>
    @foreach (var todo in todos)
    {
        var theClass = "";
        if (todo.IsDone) { theClass = "done"; }

        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input class="@theClass" @bind="todo.Title" />
        </li>
    }
</ul>


@code {
    private List<TodoItem> todos = new List<TodoItem>
{
new TodoItem { Title = "This" },
new TodoItem { Title = "Did that", IsDone = true }
};

    private string? inputTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(inputTodo))
        {
            todos.Add(new TodoItem { Title = inputTodo, IsDone = false });
            inputTodo = "";
        }
    }
}
